/data/** filter=lfs diff=lfs merge=lfs -text
/pretrain_runs/** filter=lfs diff=lfs merge=lfs -text
/finetune_runs/** filter=lfs diff=lfs merge=lfs -text
/dep/** filter=lfs diff=lfs merge=lfs -text
/.analysis_cache/** filter=lfs diff=lfs merge=lfs -text
